
<nav class="navbar bg-secondary bg-opacity-25">
  <div class="container-fluid">
    <span class="navbar-brand mb-4 h1"></span>
    <div class="dropdown">
      {{currentDate}}
      <button class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown" >
        Intira Permtong
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container text-center">
  <h1>Submit Tax Filing </h1>
</div>
<br/>

<app-filing-type> </app-filing-type>
